body{
  width:100vw;
  height:100vh;

  background-color: turquoise;
  margin-top: 100px;
}


.App-header {
  width:100%;
  font-size: calc(5px + 2vmin);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.niahhhh{
  background-color: white;
  width:70%;
  height:100%;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 5px 5px 39px 5px #000000; 
  box-shadow: 5px 5px 39px 5px #000000;
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 25px;
}



